{% include "pidfaesa/base.html" %}
{% include "pidfaesa/menu.html" %}

<style>
.div_cursos{
	width: 95%;
	max-width: 360px;
	margin-left: 1%;
}
table{
	font-size: 10pt;
}
table td{
	vertical-align: middle;
}
.table_cursos{
	text-align: center;
	background: #6699ff;
	color: white;
	/*border: 1px solid black;*/
}
.table_turmas{
	text-align: center;
	margin: 0;
	vertical-align: bottom;
}
a{
	font-size: 11pt;
}
.titulo{
	margin-left: 1%;
	color: #000066;
}
.td_sem_dados{
	background-color: white;
	color: black;
	font-style: italic;
}
</style>

<h3 class="titulo">Bem vindo!</h3>
<br>
<p>O <strong>PID - FAESA</strong> oferece cursos gratuitos em informática à comunidade, com o intuito de viabilizar o acesso a tecnologia e a informação à todos.</p>

{% if not cursos_ativos %}
	<p class="p_sem_dados">Sem cursos ativos.</p>
{% else %}
	<p>Faça sua inscrição em uma das turmas abaixo e entraremos em contato para confirmar sua inscrição!</p><br>
	
		<div class="div_cursos">
		{% for curso in cursos_ativos %}
				
				<table class="table table-condensed table_cursos">
					<tr><td>Curso: {{curso.ds_nome}} <br> Local: {{curso.ds_local}}</td></tr>
					
					{% if curso.get_turmas_ativas %}
						{% for turma in curso.get_turmas_ativas %}							
							<tr><td colspan="2">
								<table class="table table-condensed table_turmas">
									<tr><td>
										<b>Turma: {{ turma.ds_nome }}</b><br>
										<i>{{ turma.ds_descricao }}</i>
									</td></tr>
									<tr><td>De {{ turma.imprime_data_turma }} / {{ turma.imprime_hora_turma }}</td></tr>
									<tr><td><a href="/curso/{{ curso.id }}/turma/{{ turma.id }}/inscricao/aluno">Clique aqui para fazer sua inscrição</a><i><br>(restam {{turma.no_vagas_restantes}} vagas)</i></td></tr>
									<tr><td><a href="/curso/{{ curso.id }}/turma/{{ turma.id }}/inscricao/voluntario">Quero ser instrutor voluntário</a></td></tr>
								</table>
							</td></tr>							
						{% endfor %}
					{% else %}
						<tr><td class="td_sem_dados">Sem turmas ativas para este curso.</td></tr>
					{% endif %}					
				</table>
			
		{% endfor %}
		</div>
	
{% endif %}
<br>
