<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu_colapsado" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Inclusão Digital FAESA</a>
    </div>
    <div class="collapse navbar-collapse" id="menu_colapsado">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href=".">Inscrições <span class="sr-only">(current)</span></a></li> -->
        <li><a href="/">Inscrições</a></li>
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="https://drive.google.com/drive/folders/0B9CekikKv2VtQklZQVVtQnpRUFE?usp=sharing" target="_blank">Downloads</a></li>
      </ul>
    </div>
  </div>
</nav>