{% include "pidfaesa/base.html" %}
{% include "pidfaesa/menu.html" %}

<script>
function retornaTitulo(obj, index){
	var titulo = "";
	titulo = obj[index][0];
	return titulo;
}
function retornaRespostasQuants(obj, index){
	var respostas = [];

	for (i=1;i<obj[index].length;i++){
		for(j=0;j<obj[index][i].length;j++){
			respostas[j]=obj[index][i][j];
		}
	}
	return respostas;
}
</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);
 
function drawChart() {
	dados = $("#dados").val();
	obj = eval(dados);
	quant_perguntas = $("#quant_perguntas").val();

	for (cont=0; cont<quant_perguntas; cont++){
		pergunta_atual = 'pergunta' + (cont+1);

		titulo = retornaTitulo(obj, cont);
		respostasQuants = retornaRespostasQuants(obj, cont);

		var resultado=[];
		resultado[0]=['Resposta', 'Quantidade'];
		for (i=0;i<respostasQuants.length;i++){
			resultado[i+1]=respostasQuants[i];
		}
		
		var data = google.visualization.arrayToDataTable(resultado);

		var options = {
			'title': titulo,
			'is3D': true,
			'titleTextStyle': {
	        	'fontSize': 12
	    	}
		};

		var chart = new google.visualization.PieChart(document.getElementById('div_'+pergunta_atual));

		chart.draw(data, options);

	}
}
</script>

<div class="div_conteudo">

<h3>Relatório estatístico</h3>
<h4>{{ turma.curso }} - {{ turma }}</h4>
<h5>{{ turma.imprime_hora_turma }} - {{ turma.imprime_data_turma }}<br>{{ turma.no_vagas_preenchidas }} alunos
</h5>
<br>

<input type="hidden" value='{{quant_perguntas}}' id="quant_perguntas"></input>

{% if dados %}
	<input type="hidden" value='{{dados}}' id="dados"></input>
	{% for pergunta in dados %}
		<div id="div_pergunta{{forloop.counter}}" style="width: 390px; height: 250px;"></div>
	{% endfor %}
{% else %}
	<p class="p_sem_dados">Sem respostas nesta turma.</p>
{% endif %}
<br>

</div>
